.footer {
  min-height: 75px;
  display: flex;
  align-items: center;
  background-color: var(--background);
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text {
  margin: 0;
  font-size: 13px;
}

.agreement {
  display: none;
  @media (min-width: 768px) {
    display: inline-block;
    margin-left: 13px;
    color: var(--primary);
  }
}
